DATABASE_URL=postgres://admin:Password@123@localhost:5432/ssn_db
SSN_ENCRYPTION_KEY=secret

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=Password@123
MINIO_BUCKET=ssn-documents