# dependencies
node_modules
.pnpm-store

# build outputs
dist
build
.out

# env files
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# turborepo
.turbo

# docker volumes (optional safety)
postgres_data
minio_data

# samples
samples/*.tmp
samples/*.zip